body {
    background-image: url("./vaporwave.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, p, button {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: white;
}

button {
    color: black;
}

#catmessage {
    color: gray;
    font-size: 0.1em;
}